
/*dark*/
:root {
    --hightlightColor:rgb(55, 212, 152);
    --inputFiledColor:rgb(58, 58, 58);
    --inputFiledColorDarker:rgb(39, 39, 39);
    --baseColor:rgb(46, 46, 46);
    --white: white;
    --headerColor: rgb(216, 216, 216);
    --textColor: #888;
}

/*light*/
:root {
    --baseColor:rgb(233, 233, 233);
    --inputFiledColor:rgb(255, 255, 255);
    --inputFiledColorDarker:rgb(194, 194, 194);
    --hightlightColor:rgb(55, 212, 152);
    --white: white;
    --headerColor: rgb(0, 0, 0);
    --subheaderColor:rgb(55, 212, 152);
    --textColor: rgb(61, 61, 61);
}

html, body {
    font-family: 'Helvetica', 'Open Sans';
    font-size: 100%;
}

body {
    min-height:100vh;
    background-color:var(--baseColor);
}

h1, h2 {
    padding:10px 0;
    color:var(--headerColor);
    font-size:1.8em;
    font-weight:bold;
}

h3 {
    color:var(--subheaderColor);
    font-size:1.3em;
}

h4 {
    margin:30px 0 20px 0;
    padding:10px 0 10px 0;
    font-weight: lighter;
    display:block;
    border-bottom:1px solid #ddd;
}

form {
    box-sizing: border-box;
}

label {
    display:none;
}

input, textarea {
    background-color:var(--inputFiledColor);
    border:none;
    cursor: text;
    display:block;
    box-sizing:border-box;
    padding:10px;
    margin:10px 0;
    color:var(--textColor);
    position:relative;
    resize: none;
    font-size:0.8em;
    width:100%;
}

textarea {
    min-height:150px;
}

input[type='submit'] {
    cursor:pointer;
}

form input:focus, form textarea:focus {
    border:none;
    outline:none;
}

.button {
    background-color:var(--hightlightColor);
    color:white;
    font-size:0.9em;
    cursor: pointer;
    box-sizing:border-box;
    display:block;
    padding:10px;
    /* border-radius:5px; */
    border: none;
    margin:10px 0;
    color:white;
    text-align: center;
    text-decoration: none;
    width:100%;
}

.page {
    padding:20px 20px 100px 20px;
    position:relative;
    max-width:700px;
    margin:0 auto;
}

.repeatingLinearGradient {
    background: repeating-linear-gradient(
        45deg,
        var(--inputFiledColor),
        var(--inputFiledColor) 3px,
        var(--baseColor) 3px,
        var(--baseColor) 6px
    )
}

.listItem {
    background: var(--inputFiledColor);
    box-sizing:border-box;
    margin:5px 0;
    color:var(--headerColor);
    height:auto;
    position:relative;
}

.listItem a {
    display:block;
    padding:20px;
    color:var(--headerColor);
    text-decoration: none;
    position:relative;
    cursor:pointer;
}

/* .listItem a::after {
    content:'';
    height:10px;
    width:10px;
    position:absolute;
    right:20px;
    top:calc(50% - 5px);

    --borderWidth: 3px;
    border-top:var(--borderWidth) solid var(--hightlightColor);
    border-right:var(--borderWidth) solid var(--hightlightColor);
    transform: rotate(45deg);
} */

.listItem a:hover {
    background:var(--inputFiledColorDarker);
}

.listItem a:hover h3 {
    color:white;
}

.listItem a h2 {
    margin:0;
    padding:0;
    font-size:1.2em;
}

.listItem a p {
    padding-top:10px;
    color:var(--textColor);
}

.listItem:hover .btnDelete {
    display:block;
}

.listItem .btnDelete {
    background-color:transparent;
	border:none;
	width:28px;
	position:absolute;
	top:5px;
	right:2px;
    display:none;
    cursor:pointer;
}

.listItem .btnDelete img {
    width:100%;
    opacity:0.5;
}

/*#region popover*/

.popoverWrapper {
    background-color:rgba(0, 0, 0, 0.5);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    --borders: 10px;
}

.popoverWrapper .popover {
    max-width:400px;
    margin:0 auto;
    background-color:var(--inputFiledColor);
    border-radius:var(--borders);
}

.popoverWrapper .popover h2 {
    background-color:var(--hightlightColor);
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:1.5em;
    padding:30px;
    border-radius:var(--borders) var(--borders) 0 0 ;
    text-transform:capitalize;
    box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);
}

/*#endregion*/

.noScrollBar::-webkit-scrollbar { 
    display: none; 
}

@media only screen and (max-width:950px) {
}